
@font-face {
  font-family: 'HWCigarsRegular';
  src: url('https://drive.google.com/uc?export=download&id=1ymDiR6R1DeuG94KBKygg_KB1ipDsY6lh') format('opentype');
  font-weight: normal;
  font-style: normal;
}
